body {
    margin: 0;
    overflow: hidden;
    font-family: Consolas;
}

.screen {
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    position: relative;
}

.button {
    width: 200px;
    height: 200px;
    margin: auto;
    cursor: pointer;
    position: relative; 
}

.button:hover {
    color: azure;
    background-color: darkblue;
}

.game {
    left: 979px;
    top: -200px; 
    border-radius: 0px;
    background: #ac76d0;
    box-shadow: 12px 12px 24px #69487f,
        -12px -12px 24px #efa4ff;
}

.survival {
    position: relative; top: 30px; left: 777px;  
    border-radius: 50%;
    background: #6c29d1;
    box-shadow: inset 5px 5px 9px #2b1054,
                inset -5px -5px 9px #ad42ff;
}

.intro {
    background-image: url(../images/background-intro-screen2.svg);
}

.par {
    width: 60%;
}

.level1 {
    background-color: gray;
}